@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

* {
	box-sizing: border-box;
}

body{
background-color: hsl(0, 0%, 98%);
 font-family: 'Poppins', sans-serif;
}

header{
    margin: 50px auto;
     max-width:500px;     /*  max-width ==>最大宽度 ====> 目的在于 使得其换行  */
    text-align: center;
}

h1{
    font-weight: 200;
    margin: 0;
}

h1 span{
     font-weight:600;
}

p{
    color:hsl(229, 6%, 66%);
}

.container{
    display: flex;     /*  flex 布局---> 弹性布局  */
    flex-wrap:wrap;   /*  flex-wrap 布局---> 一条中轴线放不下就换行  */
    justify-content: center;    /* justify-content: center  */
    margin:0 auto;
    max-width:1140px;
}

.box {
background-color: #fff;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
padding:30px;
 border-radius: 5px;
position: relative;   /*  本项目难点 🌟  */
overflow: hidden;    /*overflow 解析---> overflow:hidden  内容被修剪*/
margin: 15px; 
width: 350px;
}

.box::after{
    content: '';    /*  伪元素-必须设置content属性，否则一切都是无用功； */
    position: absolute;    /*  本项目难点 🌟  */
    top:0;
    left:0;
    height:5px;
    width: 100%;
}

.box-red::after{
background-color:  hsl(0, 78%, 62%);
}

.box-cyan::after{
background-color: hsl(180, 62%, 55%);
}

.box-orange::after{
background-color:  hsl(34, 97%, 64%);
}

.box-blue::after{
background-color: hsl(212, 86%, 64%);
}

.box-push{
    transform: translateY(50%);
}

.box h2{
    margin: 0;
}

.box p{
font-size: 14px;
margin: 15px 0 40px;
}

.box img {
    display: block;    
    /* inline-block ==> 融合行内和块级, 能够和块级元素并列
    inline-block 和浮动元素的区别  */
    margin-left: auto;
}

@media (max-width: 960px) {
	.box-push {
		transform: translateY(0);
	}
}


